---
import "../styles/global.css";
const { title = 'Task Manager' } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="bg-gray-100 text-gray-900">
    <header class="bg-white shadow p-4 mb-6">
      <div class="max-w-4xl mx-auto">
        <h1 class="text-xl font-bold">
          <a href="/">🗂 Task Manager</a>
        </h1>
      </div>
    </header>

    <main class="max-w-4xl mx-auto px-4">
      <slot />
    </main>
  </body>
</html>

<style>
	body {
		font-family: 'Inter', sans-serif;
		/* background-color: #949ca3; */
	}
</style>